.chart{
  fill: #a1dada;}



body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.chart-section{
  max-width: 2880px;
  padding: 0 10px;
}

.chart-sign {
  color: #5c5c5c;
}

.bar-group .name-label {
  text-anchor: end;
  /* font-weight: 300; */
  font-size: 16px;
  fill: #5c5c5c;
}

.side-bar{
    fill: #f5f5f5;
}

.bar-group .value-label {
  text-anchor: middle;
  fill: #5c5c5c;
  font-size: 16px;
}

